pandas
pyarrow
fastparquet
h5py
sklearn
umap
statsmodels
pingouin
numpy>=1.20
seaborn
matplotlib
pymde
pyreadr
pdfplumber
urlpath
pyrcca
fastcluster

git+https://github.com/afrendeiro/seaborn_extensions.git
